
body {
  padding: 40px;
}

.app {
  display: flex;
  border: 1px solid #000;
}

.file-list {
  width: 300px;
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
  overflow-x: visible;
}

.file-item {
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.file-item.selected {
  border: 1px solid #000;
  background-color: rgb(248, 248, 255);
  position: relative;
}
.file-item:hover {
  border: 1px solid #eee;
}
.file-item:active {
  border: 1px solid #000;
}

.file-content {
  flex: 1;
  overflow: hidden;
  border-left: 1px solid #000;
}

pre {
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.form-container {
  position: relative;
}
.form-container img {
  width: 500px;
}

.form {
  position: absolute;
  top: -10px;
  left: 260px;
}


.app-desc {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #000;
  text-align: center;
  border: 10px solid #000;
  display: block;
  height: 130px;
  width: 300px;
  font-size: 16px;
}

button.generate {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
button.generate:disabled {
  cursor: not-allowed;
}
button.generate:hover {
  text-decoration: underline;
}
button.generate:disabled:hover {
  text-decoration: none;
}

.main-title {
  font-size: 40px;
  margin: 0;
  font-style: italic;
}

.status {
  margin-top: 30px;
}

.done {
  border: 5px solid #0f0;
  padding: 10px 20px;
}

.download {
  font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea:disabled {
  background-color: #ccc;
  color: #aaa;
  opacity: 1;
}
button:disabled {
  background-color: #000;
  color: #aaa;
  opacity: 1;
}

.done code {
  font-family: monospace;
  background-color: #eee;
  padding: 2px 4px;
}


.api-key-form {
  background-color: #ddd;
  box-sizing: border-box;
  padding: 0 15px;
  max-width: 580px;
  margin: 20px 0 40px 0;
  border: 10px solid #eee;
}

.api-key {
  width: 100%;
  box-sizing: border-box;
  line-height: 30px;
  text-indent: 10px;
  border: 1px solid #000;
}

.api-key-form em {
  font-style: italic;
  color: #674949;
}

.wait-list {
  padding-top: 100px;
  margin-top: 100px;
  border-top: 1px solid #000;
  text-align: center;
  font-size: 25px;
}

input.enter-email {

  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #000;
  text-align: center;
  border: 10px solid #000;
  font-size: 16px;
}

button.submit-email {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;

}